# Basic Python Practices

#### Exercise 00. Variable Declaration

Define the following variables with values of your choice:

- A variable that stores your name (text).
- A variable that stores your age (integer).
- A variable that indicates if you like programming (true or false).
- A variable that stores your average grade (decimal number).

In [5]:
# Declare your variables here.

#greeting = "Hello world"
STUDENT_NAME = "N. Winocur"
student_age_fictional = 700
LIKES_PROGRAMMING = True
your_average_grade = 9000.1

- Create a list with your five favorite numbers and print it.

In [6]:
# Favorite numbers list
import math
favored_numbers_list = [0,1,math.pi,69,1337]
print(favored_numbers_list)

[0, 1, 3.141592653589793, 69, 1337]

- Create a dictionary that stores a student's information and print it:

        - Name
        - Age
        - Final grade

In [7]:
student_information = {"Name":STUDENT_NAME, "Age":student_age_fictional, "Final grade":your_average_grade}
print(student_information)

{'Name': 'N. Winocur', 'Age': 700, 'Final grade': 9000.1}

#### Exercise 01. Basic data analysis with native Python structures.  
Create a list with the grades of 5 students: [8.5, 9.2, 7.8, 8.9, 10].

- Calculate the average of the grades.

In [8]:
import numpy as np
student_grades = [8.5, 9.2, 7.8, 8.9, 10]
their_average = np.mean(student_grades)
print(their_average)

8.879999999999999

- Find the highest and lowest grade.

In [9]:
highest_grade = np.max(student_grades)
lowest_grade = np.min(student_grades)
print(highest_grade)
print(lowest_grade)

10.0
7.8

# Real estate data cleaning with Pandas for efficient analysis

This is a real dataset that was downloaded using web scraping techniques. The data contains records from **Fotocasa**, one of the most popular real estate websites in Spain. Please do not perform web scraping unless it is for academic purposes.

The dataset was downloaded a few years ago by Henry Navarro, and no economic benefit was obtained from it.

It contains thousands of real house listings published on the website www.fotocasa.com. Your goal is to extract as much information as possible with the data science knowledge you have acquired so far.

Let's get started!

- First, let's read and explore the dataset.

In [10]:
import pandas as pd

# Leer el archivo CSV
ds = pd.read_csv('assets/real_estate.csv', sep=';') # Este archivo CSV contiene puntos y comas en lugar de comas como separadores
ds # mostramos todo

,Unnamed: 0,id_realEstates,isNew,realEstate_name,phone_realEstate,url_inmueble,rooms,bathrooms,surface,price,...,level4Id,level5Id,level6Id,level7Id,level8Id,accuracy,latitude,longitude,zipCode,customZone
0,1,153771986,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,103.0,195000,...,0,0,0,0,0,0,"40,2948276786438","-3,44402412135624",NaN,NaN
1,2,153867863,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,NaN,89000,...,0,0,0,0,0,1,"40,28674","-3,79351",NaN,NaN
2,3,153430440,False,look find boadilla,916350408.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,99.0,390000,...,0,0,0,0,0,0,"40,4115646786438","-3,90662252135624",NaN,NaN
3,4,152776331,False,tecnocasa fuenlabrada ferrocarril,916358736.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,86.0,89000,...,0,0,0,0,0,0,"40,2853785786438","-3,79508142135624",NaN,NaN
4,5,153180188,False,ferrari 57 inmobiliaria,912177526.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,2.0,106.0,172000,...,0,0,0,0,0,0,"40,2998774864376","-3,45226301356237",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15330,15331,153901377,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,2.0,1.0,96.0,259470,...,0,0,0,0,0,0,"40,45416","-3,70286",NaN,NaN
15331,15332,150394373,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,1.0,150.0,165000,...,0,0,0,0,0,0,"40,36652","-3,48951",NaN,NaN
15332,15333,153901397,False,tecnocasa torrelodones,912780348.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,4.0,2.0,175.0,495000,...,0,0,0,0,0,0,"40,57444","-3,92124",NaN,NaN
15333,15334,152607440,False,inmobiliaria pulpon,912788039.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,101.0,195000,...,0,0,0,0,0,0,"40,36967","-3,48105",NaN,NaN
15334,15335,153901356,False,infocasa consulting,911360461.0,https://www.fotocasa.es/es/comprar/vivienda/ma...,3.0,2.0,152.0,765000,...,0,0,0,0,0,0,"40,45773","-3,69068",NaN,NaN

- Display the first rows of the CSV file.

In [11]:
print(ds.head(10)) #default shows first five rows; showing ten confirms we have at least one NaN value

   Unnamed: 0  id_realEstates  isNew                    realEstate_name  \
0           1       153771986  False            ferrari 57 inmobiliaria
1           2       153867863  False  tecnocasa fuenlabrada ferrocarril
2           3       153430440  False                 look find boadilla
3           4       152776331  False  tecnocasa fuenlabrada ferrocarril
4           5       153180188  False            ferrari 57 inmobiliaria
5           6       153934794  False                            expimad
6           7       153848236  False                            expimad
7           8       153482331  False                            expimad
8           9       153885351  False                            expimad
9          10       153215459  False                            modesta

   phone_realEstate                                       url_inmueble  rooms  \
0       912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    3.0
1       916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    3.0
2       916350408.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    2.0
3       916358736.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    3.0
4       912177526.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    2.0
5       912780412.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    2.0
6       912780412.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    3.0
7       912780412.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    2.0
8       912780412.0  https://www.fotocasa.es/es/comprar/vivienda/ma...    4.0
9               NaN  https://www.fotocasa.es/es/comprar/vivienda/ma...    4.0

   bathrooms  surface   price  ... level4Id level5Id level6Id level7Id  \
0        2.0    103.0  195000  ...        0        0        0        0
1        1.0      NaN   89000  ...        0        0        0        0
2        2.0     99.0  390000  ...        0        0        0        0
3        1.0     86.0   89000  ...        0        0        0        0
4        2.0    106.0  172000  ...        0        0        0        0
5        1.0     70.0  315000  ...        0        0        0        0
6        2.0    145.0  430000  ...        0        0        0        0
7        1.0     95.0  275000  ...        0        0        0        0
8        3.0    277.0  445000  ...        0        0        0        0
9        2.0    129.0  350000  ...        0        0        0        0

  level8Id accuracy          latitude          longitude zipCode customZone
0        0        0  40,2948276786438  -3,44402412135624     NaN        NaN
1        0        1          40,28674           -3,79351     NaN        NaN
2        0        0  40,4115646786438  -3,90662252135624     NaN        NaN
3        0        0  40,2853785786438  -3,79508142135624     NaN        NaN
4        0        0  40,2998774864376  -3,45226301356237     NaN        NaN
5        0        0          40,53391           -3,89445     NaN        NaN
6        0        0  40,5105842135624  -3,89436578643763     NaN        NaN
7        0        0          40,53294           -3,89898     NaN        NaN
8        0        0  40,5363057864376  -3,89294421356237     NaN        NaN
9        0        0          40,37502           -3,74391     NaN        NaN

[10 rows x 37 columns]

Perfect, this was a small practice. Now let's begin with the real exercises!

#### Exercise 01. What is the most expensive house in the entire dataset? (★☆☆)

Print the address and price of the selected house. For example:

`The house located at Calle del Prado, Nº20 is the most expensive, and its price is 5000000 USD.`

In [12]:
#print(ds.columns)
expensive_house_price = ds.price.max()
expensive_house_id = ds.price.idxmax()
expensive_house_address = ds.address[expensive_house_id]

print(f"The house located at {expensive_house_address} is the most expensive, and its price is {expensive_house_price} USD.")

The house located at El Escorial is the most expensive, and its price is 8500000 USD.

#### Exercise 02. What is the cheapest house in the dataset? (★☆☆)

This exercise is similar to the previous one, except now we are looking for the house with the lowest price. Remember to print the address and price of the selected house. For example:

`The house located at Calle Alcalá, Nº58 is the cheapest, and its price is 12000 USD.`

In [13]:
inexpensive_house_price = ds.price[ds.price>0].min()
inexpensive_house_id = ds.price[ds.price>0].idxmin()
inexpensive_house_address = ds.address[inexpensive_house_id]

print(f"The house located at {inexpensive_house_address} is the cheapest, and its price is {inexpensive_house_price} USD.")

The house located at Berlin, Coslada is the cheapest, and its price is 600 USD.

#### Exercise 03. What is the largest and smallest house in the dataset? (★☆☆)

Print the address and area of the selected houses. For example:

`The largest house is located at Calle Gran Vía, Nº38, and its area is 5000 square meters.`

`The smallest house is located at Calle Mayor, Nº12, and its area is 200 square meters.`

This exercise is similar to the previous one, but we are looking for the largest and smallest houses based on their area.

In [14]:
largest_house_area = ds.surface.max()
largest_house_id = ds.surface.idxmax()
largest_house_address = ds.address[largest_house_id]

print(f"The largest house is located at {largest_house_address}, and its area is {largest_house_area} square meters.")


smallest_house_area = ds.surface[ds.surface>0].min()
smallest_house_id = ds.surface[ds.surface>0].idxmin()
smallest_house_address = ds.address[smallest_house_id]

print(f"The smallest house is located at {smallest_house_address}, and its area is {smallest_house_area} square meters.")

The largest house is located at Sevilla la Nueva, and its area is 249000.0 square meters.
The smallest house is located at Calle Amparo,  Madrid Capital, and its area is 15.0 square meters.

#### Exercise 04. How many unique populations are in the dataset? (★☆☆)

Count the number of unique populations in the 'level5' column and print the names of the populations separated by commas. For example:

`> print(populations)`

`population1, population2, population3, ...`

In [15]:
populations = ds.groupby("level5")
print(f"There are {populations.ngroups} unique populations in the dataset")

for pop in populations:
    print(f"{pop[0]}", end=", ")

There are 168 unique populations in the dataset
 Madrid Capital, Ajalvir, Alcalá de Henares, Alcobendas, Alcorcón, Aldea del Fresno, Algete, Alpedrete, Ambite, Anchuelo, Aranjuez, Arganda del Rey, Arroyomolinos (Madrid), Batres, Becerril de la Sierra, Belmonte de Tajo, Boadilla del Monte, Braojos, Brea de Tajo, Brunete, Buitrago del Lozoya, Bustarviejo, Cabanillas de la Sierra, Cadalso de los Vidrios, Camarma de Esteruelas, Campo Real, Canencia, Carabaña, Casarrubuelos, Cenicientos, Cercedilla, Chapinería, Chinchón, Ciempozuelos, Cobeña, Collado Mediano, Collado Villalba, Colmenar Viejo, Colmenar de Oreja, Colmenar del Arroyo, Colmenarejo, Corpa, Coslada, Cubas de la Sagra, Daganzo de Arriba, El Atazar, El Berrueco, El Boalo - Cerceda – Mataelpino, El Escorial, El Molar (Madrid), El Vellón, El Álamo, Estremera, Fresnedillas de la Oliva, Fresno de Torote, Fresno de Torote - Serracines, Fuenlabrada, Fuente El Saz de Jarama, Fuentidueña de Tajo, Galapagar, Garganta de los Montes, Gargantilla del Lozoya, Gascones, Getafe, Griñón, Guadalix de la Sierra, Guadarrama, Horcajo de la Sierra, Hoyo de Manzanares, Humanes de Madrid, La Cabrera, La Hiruela, Las Rozas de Madrid, Leganés, Loeches, Los Molinos, Los Santos de la Humosa, Lozoya, Lozoyuela-navas-sieteiglesias, Madarcos, Majadahonda, Manzanares El Real, Meco, Mejorada del Campo, Miraflores de la Sierra, Montejo de la Sierra, Moraleja de Enmedio, Moralzarzal, Morata de Tajuña, Móstoles, Navacerrada, Navalafuente, Navalagamella, Navalcarnero, Navarredonda, Navas del Rey, Nuevo Baztán, Orusco de Tajuña, Paracuellos de Jarama, Parla, Patones, Pedrezuela, Pelayos de la Presa, Perales de Tajuña, Pezuela de las Torres, Pinilla del Valle, Pinto, Piñuécar-gandullas, Pozuelo de Alarcón, Pozuelo del Rey, Puentes Viejas, Quijorna, Rascafría, Redueña, Ribatejada, Rivas-vaciamadrid, Robledo de Chavela, Robregordo, San Agustín del Guadalix, San Fernando de Henares, San Lorenzo de El Escorial, San Martín de Valdeiglesias, San Martín de la Vega, San Sebastián de los Reyes, Santa María de la Alameda, Santorcaz, Serranillos del Valle, Sevilla la Nueva, Soto del Real, Talamanca de Jarama, Tielmes, Titulcia, Torrejón de Ardoz, Torrejón de Velasco, Torrejón de la Calzada, Torrelaguna, Torrelodones, Torremocha de Jarama, Torres de la Alameda, Tres Cantos, Valdaracete, Valdeavero, Valdelaguna, Valdemanco, Valdemaqueda, Valdemorillo, Valdemoro, Valdeolmos-Alalpardo, Valdepiélagos, Valdetorres de Jarama, Valdilecha, Valverde de Alcalá, Velilla de San Antonio, Venturada, Villa del Prado, Villaconejos, Villalbilla, Villamanrique de Tajo, Villamanta, Villamantilla, Villanueva de Perales, Villanueva de la Cañada, Villanueva del Pardillo, Villar del Olmo, Villarejo de Salvanés, Villaviciosa de Odón, Villavieja del Lozoya, Zarzalejo,

#### Exercise 05. Does the dataset contain null values (NAs)? (★☆☆)

Print a boolean (`True` or `False`) to check if there are null values, followed by the columns that contain NAs.

In [16]:
columns_containing_na = []
is_na_found = False
for column_name, series in ds.items():
    # The "level#" columns look useful but columns like "level#Id" contain nothing but zeroes.  So just like the NaNs I see no reason to keep them.
    if series.isna().all() or (series ==0).all(): 
        is_na_found = True
        columns_containing_na.append(column_name)

print(f"NAs found? {is_na_found}")
print(columns_containing_na)

NAs found? True
['countryId', 'level1Id', 'level2Id', 'level3Id', 'level4Id', 'level5Id', 'level6Id', 'level7Id', 'level8Id', 'zipCode', 'customZone']

#### Exercise 06. Remove the null values (NAs) from the dataset, if applicable (★★☆)

After removing the null values, compare the size of the DataFrame before and after the removal.

In [17]:
size_before_removing_nulls = ds.size
print(f"Size before removing nulls was\t{size_before_removing_nulls}")
ds_without_nas = ds.dropna(axis=1, how="all")
print(f"Size after removing nulls is\t{ds_without_nas.size}")

#next will clear useless only-zeroes columns by replacing those values with NAs and then dropping the same way
ds_cleaned_up = ds.replace(0, np.nan).dropna(axis=1, how="all")
print(f"Size after removing both nulls and columns containing exclusively zeroes is\t{ds_cleaned_up.size}")

Size before removing nulls was	567395
Size after removing nulls is	536725
Size after removing both nulls and columns containing exclusively zeroes is	398710

#### Exercise 07. What is the average price in the population of "Arroyomolinos (Madrid)"? (★★☆)

Print the value obtained from the 'level5' column.

In [18]:
print(ds_cleaned_up[ds_cleaned_up["level5"] == "Arroyomolinos (Madrid)"])

       Unnamed: 0  id_realEstates  isNew                  realEstate_name  \
453           454       153843083  False                  akris arguelles
607           608       153620088  False        100 home red inmobiliaria
613           614       153478908  False               mares inmobiliaria
707           708       153736961  False                         gm house
852           853       153274493  False                         gm house
...           ...             ...    ...                              ...
15019       15020       152767314  False                 haya real estate
15089       15090       152767395  False                 haya real estate
15091       15092       152767377  False                 haya real estate
15094       15095       152767335  False                 haya real estate
15192       15193       146831440  False  miranda servicios inmobiliarios

       phone_realEstate                                       url_inmueble  \
453         911792694.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
607         912669623.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
613         911794026.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
707         916357589.0  https://www.fotocasa.es/es/comprar/vivienda/po...
852         916357589.0  https://www.fotocasa.es/es/comprar/vivienda/ma...
...                 ...                                                ...
15019       911227078.0  https://www.fotocasa.es/vivienda/getafe/calle-...
15089       911227078.0  https://www.fotocasa.es/es/comprar/vivienda/ar...
15091       911227078.0  https://www.fotocasa.es/es/comprar/vivienda/ar...
15094       911227078.0  https://www.fotocasa.es/es/comprar/vivienda/ar...
15192       912789124.0  https://www.fotocasa.es/es/comprar/vivienda/ma...

       rooms  bathrooms  surface     price  ...         level3  \
453      2.0        2.0     85.0  165338.0  ...  Zona Suroeste
607      4.0        3.0    225.0  251646.0  ...  Zona Suroeste
613      4.0        4.0    257.0  396000.0  ...  Zona Suroeste
707      3.0        2.0    110.0  225000.0  ...  Zona Suroeste
852      4.0        2.0    280.0  373000.0  ...  Zona Suroeste
...      ...        ...      ...       ...  ...            ...
15019    3.0        2.0    143.0  218000.0  ...  Zona Suroeste
15089    3.0        2.0    140.0  230000.0  ...  Zona Suroeste
15091    3.0        2.0    143.0  217000.0  ...  Zona Suroeste
15094    3.0        2.0    142.0  227000.0  ...  Zona Suroeste
15192    3.0        2.0    300.0  462000.0  ...  Zona Suroeste

                       level4                  level5 level6  \
453    Arroyomolinos, Zona de  Arroyomolinos (Madrid)    NaN
607    Arroyomolinos, Zona de  Arroyomolinos (Madrid)    NaN
613    Arroyomolinos, Zona de  Arroyomolinos (Madrid)    NaN
707    Arroyomolinos, Zona de  Arroyomolinos (Madrid)    NaN
852    Arroyomolinos, Zona de  Arroyomolinos (Madrid)    NaN
...                       ...                     ...    ...
15019  Arroyomolinos, Zona de  Arroyomolinos (Madrid)    NaN
15089  Arroyomolinos, Zona de  Arroyomolinos (Madrid)    NaN
15091  Arroyomolinos, Zona de  Arroyomolinos (Madrid)    NaN
15094  Arroyomolinos, Zona de  Arroyomolinos (Madrid)    NaN
15192  Arroyomolinos, Zona de  Arroyomolinos (Madrid)    NaN

                                       level7 level8  \
453                       Zona Las Castañeras    NaN
607    La Cárcaba - El Encinar - Montemolinos    NaN
613                     Zona Bulevar y Europa    NaN
707                     Zona Bulevar y Europa    NaN
852                     Zona Bulevar y Europa    NaN
...                                       ...    ...
15019                   Zona Bulevar y Europa    NaN
15089                   Zona Bulevar y Europa    NaN
15091                   Zona Bulevar y Europa    NaN
15094                   Zona Bulevar y Europa    NaN
15192                         Zona Zarzalejos    NaN

                                   upperLevel accuracy          latitude  \
453                       Zona Las Castañeras      NaN          40,27657
607    La Cárcaba - El Encinar - Montemolinos      NaN  40,2568635154027
613                     Zona Bulevar y Europa      1.0        40,2839697
707                     Zona Bulevar y Europa      NaN        40,2779047
852                     Zona Bulevar y Europa      NaN        40,2827315
...                                       ...      ...               ...
15019                   Zona Bulevar y Europa      NaN       40,27849764
15089                   Zona Bulevar y Europa      NaN       40,27849764
15091                   Zona Bulevar y Europa      NaN       40,27849764
15094                   Zona Bulevar y Europa      NaN       40,27849764
15192                         Zona Zarzalejos      NaN         40,270392

               longitude
453             -3,91864
607    -3,91214199444133
613           -3,9268743
707           -3,9136693
852           -3,9120264
...                  ...
15019        -3,91184112
15089        -3,91184112
15091        -3,91184112
15094        -3,91184112
15192  -3,90373610000006

[137 rows x 26 columns]

#### Exercise 08. Plot the histogram of prices for the population of "Arroyomolinos (Madrid)" and explain what you observe (★★☆)

Print the histogram of the prices and write a brief analysis of the plot in the Markdown cell.

In [19]:
import matplotlib.pyplot as plt

# Plot the histogram of prices